    body{
    margin: 0;
    background: black;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 0.5s;
    }

    #startBtn{
    background: red;
    color: white;
    font-family: monospace;
    font-size: 40px;
    padding: 15px 30px;
    border: 10px solid #880000;
    box-shadow: 0px 0px 0px 8px #440000;
    cursor: pointer;
    }

#pixelArt{
    display: grid;
    grid-template-columns: repeat(36, 16px);
    grid-template-rows: repeat(36, 16px);
    gap: 0;
    image-rendering: pixelated;
    display: none; 
    }

    .grid-background {
    background-color: #222;
    background-image:
        linear-gradient(#d0d0d0 1px, transparent 1px),
        linear-gradient(90deg, #d0d0d0 1px, transparent 1px);
    background-size: 20px 20px;

    }